<p id="notice"><%= notice %></p>

<h3>Issues</h3>
  <div class="row">

    <% @issues.each_with_index do |issue, i| %>
      <% if(i != 0 && i % 3 == 0)  %>
        <div class="row">
      <% end %>
        <%= link_to issue do %>
          <div class="col-sm-3 panel issue-box"><%= truncate(issue.title, length: 90) %></div>
        <% end %>
      <% if(i != 0 && ((i+1) % 3 == 0)) %>
        </div>
      <% end %>
    <% end %>
  </div>
<br>

<%= link_to 'New Issue', new_issue_path %>
